[2016-01-05 12:29] jeanmonod opened #1 "Please reference in the README the subjacent used tools"

[2016-01-06 09:22] Hywan opened #4 "Add a `--filter-by-urls` option"
Thoughts @krtek4?

[2016-01-06 09:29] #1 closed

[2016-01-06 10:02] krtek4 commented on #4
I think it's a great idea.

However, concerning the URLs we have in our reports, I want to first understand why the crawler picks them at all, because it should not from what I understand from the regexes.

I'll have a look !

[2016-01-06 11:03] #4 closed

[2016-01-07 08:23] krtek4 opened #7 "Improve report generation workflow / Templating Engine"
There is currently a lot of duplication between the templates and the CSS / JS. Maintenance and new feature development is difficult.

Using a real templating engine would allow us to :

* keep all the CSS and JS in separate files and include them when needed in the generate HTML.
* create templates for common part and include them (partials)
* have a better  `context` management (support for nest

[2016-01-07 08:28] krtek4 opened #8 "Rerun / Update a report"
When working on fixing issues from a report, it would be really great to be able to regenerate a part of it.

I think we can pretty easily achieve this as the page report filename is already a hash of the URL. It's "only" a matter of not recreating the `index.html` file each time but expand it if it already exists.

[2016-01-07 08:29] krtek4 opened #9 "Issue filtering on the report page"
It would be really great to be able to hide some errors by code on the report page.

[2016-01-07 08:32] krtek4 opened #10 "List of URLs"
Currently the tool only accept an URL that is then crawled. In some cases it would be a lot more efficient if we could provide a list of URLs to better target the pages that need to be tested.

[2016-01-07 08:35] krtek4 opened #11 "SaaS version of the tool ?"
Seems to be a demand : https://twitter.com/bitfalls/status/684993843029250048

Let's discuss this and list what need to be done for it to happen !

[2016-01-07 08:37] krtek4 opened #12 "Note codes does not display on the index on Chrome"
The error code from a report does not display for me on the index page with the latest stable Chrome version.

Will investigate a bit more and report my findinds here.

[2016-01-07 08:51] krtek4 opened #13 "Improve custom sniffer process"
It seems to me the process to add custom sniffers could be automated a bit more.

For example it should suffice to provide the directory with the ruleset and we should be able to built it ourselves by running grunt inside the tool.

We could also maybe provide a tool to generate the needed structure with an option to easily extend a current standard.

If a `ruleset.js` file can contain only one st

[2016-01-07 08:52] krtek4 opened #14 "Error reporting"
Currently, if a sniff errors, there is no report whatsoever in the console. The report just fails to generated letting the user wonder why.

[2016-01-07 08:54] krtek4 opened #15 "Provide an option to disable SSL certificate check"
Currently, we disable SSL certificate checking by default.

We should provide an option to let the user choose what he wants to do.

Also, there's is currently no errors shown when the SSL certificate is rejected, we should print an error in this case.

[2016-01-07 13:49] jeanmonod opened #17 "More info on the index page"
Currently, on the index, there is only a count for errors. It could be useful to have error counts but also warning and notice counts. Maybe not we the same degree of importance but visible too...

[2016-01-07 14:13] krtek4 opened #18 ""Server" mode"
Add a feature so that `a11ym` can be launched in server mode in order to receive URLs via a POST request.

This will allow us to add a button on the report page that POST to this server in order to regenerate the report.

This is different than https://github.com/liip/TheA11yMachine/issues/11 and only targeted at local dev setups

[2016-01-07 15:11] jeanmonod opened #19 "Auto-refresh feature"
It would be great to have an auto refresh functionally available in the HTML report.

[2016-01-08 05:54] jeanmonod opened #20 "Better algorithm to explore a web application"
I'm not sure how the actual queue is working, maybe it's just a FIFO. A website is most of the time composed by several pages generated by some dynamic templates. And most of the time a categories of page share the same template. As your goal is to find as fast as possible all the a11y issues coming from the several templates, we should try to be more clever to select the page to process.
Hopefull

[2016-01-08 05:58] jeanmonod commented on #10
This is really important :+1:

[2016-01-08 05:59] jeanmonod commented on #8
This is a MUST HAVE! Thanks for all the efforts down here...

[2016-01-08 06:01] jeanmonod opened #21 "Add a `CONTRIBUTING.md` file"
I want to do some modification in the tool. How can I do? And then how can I contribute?

[2016-01-08 07:43] Hywan commented on #21
We must create a `CONTRIBUTING.md` file. Yup.

[2016-01-08 07:52] Hywan commented on #20
Hmm, this is going to be very difficult. We must define the algorithm first. One might be clever is to sort by “difference”/delta:

To compute the delta between 2 pages, we can use the URL or the content length. Thoughts?

[2016-01-08 07:53] Hywan commented on #20
The goal of this issue is to quickly explore a web application.

[2016-01-08 07:54] Hywan commented on #19
Why?

[2016-01-08 07:56] Hywan commented on #11
First, we might run thousands of PhantomJS instances… Is it something we would like to do :-p?

[2016-01-08 07:57] Hywan commented on #18
So `a11ymd`? This is dangerous. We have to manage tokens to limit number of requests per user in time for instance. Thoughts?

[2016-01-08 07:58] Hywan commented on #17
Yup, :+1:, this is something I am planning to do.

[2016-01-08 08:00] jeanmonod commented on #20
We have the url yet, computing on page size could be great but will require an HTTP HEAD call, this could slow down the process...

[2016-01-08 08:38] Hywan commented on #15
Controlling PhantomJS requires several options. Yup, we must do it.

[2016-01-08 08:46] Hywan commented on #13
We must consider several things:
* The location of the sniffers,
* The location of the compiled version,
* If errors exist, do something.

I did try to do this without Grunt but the Uglify API is just… ugly! Because we did not have time currently, runnning `grunt --sniffers-…` was fine enought. Obviously, we have to update this process!

[2016-01-08 08:50] jeanmonod commented on #19
Yes, but I will not automatically activate it. Maybe a nice switcher in the top right?

[2016-01-08 08:50] Hywan commented on #10
We could start with a first URL and put the other ones directly in the queue. Thoughts?

[2016-01-08 08:52] Hywan commented on #9
Why do not filtering in the CLI and wanting to filter in the report?

[2016-01-08 08:54] Hywan commented on #8
Hmm, so
1. If the output directory already exists and
2. If the index already exists and
3. If there is a `--partial`-like option,

then, we do not re-generate the `index.html`, only the report page.

Thoughts?

[2016-01-08 08:56] jeanmonod opened #22 "Refresh url button (re-run audit for a given page)"
Follow #8 it could be great to have a button to refresh the status of a given page

[2016-01-08 08:56] Hywan commented on #7
We can ask @LeBenLeBen for any **very light** templating engines?

Our constraint is the following: Any report page must be standalone to be sent by emails.

[2016-01-08 09:13] Hywan commented on #19
Why a switcher? Is it something someone would like to disable?

[2016-01-08 09:15] Hywan commented on #20
I am pretty sure we already have this information since we are already filtering by content-type.

[2016-01-08 09:34] jeanmonod commented on #19
It depends the workflow that you are using. Maybe if we have #22 then it's no more useful. But a workflow I can imagine, is (as a developper):
* I run a full audit of a website
* I open the report in my browser
* I activate the manual auto refresh
* I fix the issue page per page, continuously running audit for a single page
* With #8 implemented I see my global report getting better and better

[2016-01-08 09:39] Hywan commented on #22
I am pretty sure developer knows how to refresh their page :-p. #19 is much useful than this one :-). I am going to close this issue in favor of #19 :-).

[2016-01-08 09:39] Hywan commented on #19
Yup, sounds good!

[2016-01-08 09:46] jeanmonod commented on #22
Sorry, my request was not clear. I was not thinking about a page refresh, but about an "url audit re-run". The idea is that you generate a report. And then from the report, you re-run the audit of a given page. What we should do:
* Provide a button
* On click, it will re-run the audit of the given url
* Once audit done, the html report is update

[2016-01-08 13:56] krtek4 commented on #7
http://underscorejs.org/#template

[2016-01-08 14:01] krtek4 commented on #22
In this case it is a duplicated of #18  which is not yet clear ;)

[2016-01-08 14:01] #22 closed

[2016-01-08 14:12] Hywan commented on #10
And in CLI, we can read in STDIN.

[2016-01-08 14:20] krtek4 commented on #13
My desired "API" : `a11ym --sniffers /my/directory/ --standard MyStandard http://example.org/`

Remove the grunt part :)

[2016-01-08 14:24] krtek4 commented on #19
Eventually with a progress bar ?

[2016-01-08 14:37] krtek4 commented on #20
Bucket 4tw

[2016-01-08 16:55] krtek4 commented on #8
IHMO, the `--partial` option is not needed, as soon as the target direction contains an `index.html` file, we update it instead of overwriting.

We could run into issues where people specify a target directory containing an index file with another format, but I don't think this is relevant for now, we'll treat this when needed.

However we need the also update the index.html in order to either add

[2016-01-08 17:00] krtek4 commented on #11
After discussing a bit IRL with @Hywan and @jeanmonod, here are some thoughts :

* Writing a web interface to the tool is currently out of scope of this project
* The tool in itself does not require particular new features to work in a SaaS environement
* Spinning a lot of PhantomJS instance might be a scalability issues
* We would need to rate limit heavily depending on hardware.
* #18 might be n

[2016-01-08 20:24] krtek4 commented on #18
@Hywan I tried to explain better what I mean in the issue. The goal is not to listen to the whole world, just command from the same machine where the "server" runs. The idea is only to speed up accessibility issues fixing, not allowing other people to launch jobs.

[2016-01-08 20:26] krtek4 commented on #19
I think we have two different things here :

# Auto-refresh of the index page while the crawler is still running to see new URLs
# Continuous auditing of the URLs to display improvements (which can be done for the whole report or on a per URL basis).

[2016-01-10 22:40] imsoftware opened #23 "Write installation and usage guide for windows"

[2016-01-11 12:50] Hywan commented on #23
Yup, currently working on it. We have an issue with NPM on Windows though.

[2016-01-11 14:28] #23 closed

[2016-01-11 14:29] Hywan commented on #23
@imsoftware Instructions are exactly the same. Install NPM and go. Now it works on Windows. Is it OK for you or did you expect something different?

[2016-01-12 09:58] Hywan commented on #17
Could be useful to add all errors, warnings and notices, ordering by number of occurence in all pages.

[2016-01-12 11:00] #21 closed

[2016-01-12 11:31] Hywan commented on #12
I cannot reproduce with Chromium 45. Can you investigate a little bit please?

[2016-01-13 08:48] Hywan opened #29 "Raise a warning if a URL is invalid"
See https://github.com/liip/TheA11yMachine/pull/28#discussion_r49563345.

[2016-01-13 09:00] #10 closed

[2016-01-13 09:24] #15 closed

[2016-01-13 15:22] #17 closed

[2016-01-13 15:36] #29 closed

[2016-01-13 15:37] Hywan commented on #7
@krtek4 What do you think: Do we target 0.6.0 or 0.7.0?

[2016-01-13 21:50] krtek4 commented on #7
I think that I don't really care, we have time and motivation so let's put as much feature as possible in the next version ;)

0.6.0 or 0.7.0 seems completely artificial to me ;)

[2016-01-14 08:08] Hywan commented on #7
I prefer small releases but yes, this is more or less artificial :-).

[2016-01-15 12:37] #7 closed

[2016-01-15 13:16] Hywan commented on #20
No that's fine. Let's go!

[2016-01-20 08:55] #20 closed

[2016-01-20 09:14] Hywan opened #35 "Handle Ctrl-C"
Maybe a 2-step actions is necessary:
1. First `Ctrl-C` asks a confirmation to stop the process,
2. Second `Ctrl-C` really stop the process.

[2016-01-26 10:58] krtek4 commented on #12
Seems there's an issue with `Set` in the nodejs version we are using (`0.12.9`)

I don't really have time to dig in, but using an array works, I'll propose a PR.

[2016-01-26 14:40] #12 closed

[2016-01-27 08:19] #13 closed

[2016-01-27 14:40] jeanmonod opened #40 "HTTP credentials support"
I would like to crawl a website that I'm developing, but I need to provide HTTP credentials as my project is currently protected by an .htaccess
Could we add that feature to A11y?

[2016-01-27 23:02] #35 closed

[2016-01-28 10:03] krtek4 opened #41 "Better halting solution"
#35 is now closed, but I am still not satisfied with the solution. We wait on all currently processing URLs but no report is generated at the end.

I think we could improve this a lot by decoupling the crawler from the tester a bit more :

* Each has its own queues and knows only about the orchestrator
* The "orcherstrator" is the only one knowing about maximumUrls
* The crawler sends new URL to t

[2016-01-28 10:04] krtek4 opened #42 "Do not use the crawler when only 1 URL is asked or the depth is set to 1."
Title says it all.

When we want to crawl only 1 URL or the depth is set to one, no need to use the crawler.

[2016-01-28 10:04] krtek4 opened #43 "Logging everywhere"
We should have a centralized logging solution.

Currently there are logs everywhere, some use chalk to add colors, other don't, we cannot set  a verbosity level.

[2016-01-28 10:09] krtek4 opened #44 "Bucketting is only partially working."
The tester part of the  bucket systems works great, but the crawling is not 100%.

The crawler fetches (and de factor add) URLs based on the order they appear in the document, this means if the first thousand URLs of a document all go to the same bucket, we will first fetch those 1000 URLs before filling any other bucket.

This is cumbersome when you want to quickly have a panel of different URLs

[2016-01-28 16:12] Hywan commented on #40
Sure!

[2016-01-28 16:15] Hywan commented on #41
Damn, you did a huge refactoring without any PR. That's not fare.

[2016-01-28 16:24] krtek4 commented on #41
My cat rewied it ;)

[2016-01-28 16:31] krtek4 commented on #41
Or reviewed depends on how many vodka he had yesterday :p

[2016-01-29 09:16] krtek4 commented on #44
Small hint, it could be possible to move our bucket implementation to replace `Crawler.prototype.queueURL` so that we decide in which order SimpleCrawler fetches URLs.

Then, once a URL is fetched and validated, we can pass it directly to `pa11y` because it will be in the right "order" already.

[2016-01-29 10:28] #40 closed

[2016-01-29 12:58] #43 closed

[2016-01-29 13:03] #42 closed

[2016-02-05 13:09] Hywan opened #54 "Need an “accessibility” icon"

[2016-02-08 12:20] Hywan opened #55 "Attach “priority”/weight to some URL patterns"
This can be useful to have an even better exploration algorithm.

Thoughts @krtek4 or @jeanmonod?

[2016-02-08 13:33] #44 closed

[2016-02-08 13:33] Hywan commented on #41
I guess the halt current solution is fine. Can we close this issue?

[2016-02-08 13:52] krtek4 commented on #41
Since I opened this issue *after* implementing the current solution I would say no.

[2016-02-08 13:58] krtek4 commented on #41
Oh sorry, didn't see you made changes regarding this in a totally unrelated PR.

OK then

[2016-02-08 14:05] Hywan commented on #41
:+1:

[2016-02-08 14:05] #41 closed

[2016-02-09 08:15] Hywan opened #56 "“Back to listing” must do a history - 1"

[2016-02-10 11:55] hamishtaplin opened #57 "Gulp plugin?"
Have you considered writing a Gulp plugin for this? Would be really nice to be able to pipe tests/results in to existing build processes.

[2016-02-10 11:56] Hywan commented on #57
Hello :-),

I don't have enough skills for that, but feel free to do so! Sounds a good idea :-).

[2016-02-10 11:58] hamishtaplin commented on #57
Just looking into the possibility right now. I think if the code was written as a module (ie. it exported an API) it would make this process a bit easier. Will let you know how far I get.

[2016-02-10 13:03] Hywan commented on #57
@hamishtaplin Ok :-). Can't we just run `a11ym` in CLI?

[2016-02-10 13:46] hamishtaplin commented on #57
@Hywan not sure what you mean, that's what it does currently?

[2016-02-10 13:47] callumacrae commented on #57
For this to be suitable to be a gulp plugin, you'd have to have two things:

- First, it would need to be able to be called programmatically (e.g. as a requireable module). This would mean splitting the current a11ym file into two files: one containing the module, and another (probably in the bin directory) containing the commander stuff. This is probably best practice anyway.
- Secondly, it would

[2016-02-10 14:41] hamishtaplin commented on #57
That seems like a lot of re-factoring would need to happen, not sure you'd even be able to keep the existing implementation of it being accessible from CLI in that case. I might well be wrong though, not really my area of expertise.

[2016-02-10 15:22] Hywan commented on #57
We can do such a refactoring. It's not going to be huge. We develop this tool very quickly because we were running out of time, but I will try to find more time to do that.

[2016-02-10 15:22] Hywan commented on #57
Do you want to keep the crawler with Gulp? I guess yes.

[2016-02-10 18:28] hamishtaplin commented on #57
Yes to the crawler :+1:

[2016-02-24 13:03] #56 closed

[2016-04-08 08:08] krtek4 opened #63 "Issues on Windows"
Hey there,

I have multiple issues on windows

First a non Windows specific issue : `git` is required has some packages are linked to github repos.

Then, `a11ym` behave strangely on windows. When I try to crawl an URL, I have one of three possible outcomes :
1. `a11ym` fetches the first URL and stop immediately afterward. No report is produced.
2. `a11ym` fetches the first URL, run it and then fe

[2016-05-13 09:33] callmemagnus commented on #63
I'm trying to run `a11ym` on linux.

I encounter the same issue as described in this ticket:  "a11ym fetches the first URL and stop immediately afterward. No report is produced."

I only get
[code]

And that's all.

Versions:

[code]

[2016-05-23 13:24] Hywan commented on #57
Now it's my priority for this project :smiley:.

[2016-07-06 19:18] cearls opened #65 "Code report?"
I am in need of a report index page that lists codes. You could click on a code to see a report page that lists the URLs for that code. Would this be possible?

[2016-07-19 02:34] #65 closed

[2016-08-01 08:01] louiscremen opened #66 "./a11ym requires 2+ urls to work"
Hey guys, weird bug:

If I use the command
` ./a11ym http://example.org`

Then I receive this:

[code]

But if I use two urls (even if they are the same):
`./a11ym http://example.org http://example.org`

Then it works fine.

Any ideas?

[2016-08-07 10:04] louiscremen opened #67 "Docker image does not exist at liip/the-a11y-machine"
Hey guys,

Still having issues with a previous issue submitted #66 , so I thought I would try it with the docker image
`$ docker run liip/the-a11y-machine --help
`

However, that failed:

[code]

So, after searching I found this:
[http://nickschuch.com/article/accessibility-as-a-service-with-kubernetes-and-the-a11y-machine/](http://nickschuch.com/article/accessibility-as-a-service-with-kubernetes-

[2016-09-07 12:48] Manest commented on #66
Same problem here
in package.json, we have a
"simplecrawler": "git+https://github.com/cgiffard/node-simplecrawler.git#master"

But node-simplecrawler 1.0.0 release last month (https://github.com/cgiffard/node-simplecrawler/releases/tag/v1.0.0) and one of the breaking change is :

[2016-09-08 20:32] reipaul commented on #66
ditto with can't use one url

[2016-09-13 06:54] Hywan commented on #67
Hello :-),

Can you open a PR please?

[2016-09-13 08:18] #66 closed

[2016-09-13 08:22] Hywan commented on #63
@callmemagnus Sorry for the late reply… There a TLS issue with `https://todomvc.com`. Maybe this is why the crawler does not scan it. Did you try with the `--http-tls-disable` option?

[2016-09-14 20:03] patkar opened #70 "Option to dump the dashboard"
| Q | A |
| --- | --- |
| Bug? | no |
| New Feature? | yes |
| Version used | 0.8.3 |
#### Actual Behavior

At the moment `a11ym-dashboard` must be running to access the dashboard, which requires a running installation of it, if you want to monitor CI reports.
#### Expected Behavior

A `--dump` option, which dumps the required `index.html` into the `--root` reports directory (or maybe another dump

[2016-10-09 02:51] bikasv opened #71 "Ignore all notices"
Hi,
Shouldn't there be an option to ignore all notices, or warnings, instead of manually ignoring WCAG rules one by one?

This will save time especially when fixing notices is not a viable option.

[2016-10-09 02:55] bikasv opened #72 "Have config file"
Hi,
There should be an option for config file and reading form it.

Currently, npm script gets too long with all the parameters. Instead we can do the following, package.json will be quite clean

a11y --config config_file.js(json?)

[2016-10-09 02:57] bikasv opened #73 "Not all commands available in node_modules/.bin"
Hi,
Only a11y is available in node_modules/.bin folder. Other commands (a11y-dashboard, a11y-sniffers) are not present in this folder.

Due to this, we've to pass full path in npm script instead of just the file name.

Can this be fixed?

[2016-10-11 15:26] Hywan commented on #73
Sure :-).

[2016-10-14 11:21] Hywan commented on #72
Not sure to do this right now, but this is not a bad idea. Putting this issue as ready.

[2016-10-14 11:22] Hywan commented on #71
Hi :-),

This is a good idea. Thanks!

[2016-10-14 11:25] Hywan commented on #70
Hello :-),

So what you are asking is a “dump” of the `a11ym-dashboard` output, something like a static version of it.

If yes, this is a good idea. I am not sure that it's a11ym to us to push the reports onto another locations (like S3 & co.). It seems to be out of the scope of this project. Thoughts?

[2016-10-14 12:08] bikasv commented on #72
There can be 2 solutions to this -

1. Use yargs to read js(on) file and then use those object as config.
2. Provide node interface so that we can write, say, a11y.js and configure everything from there. Then from script we can call `node a11y.js`.

[2016-10-14 12:13] patkar commented on #70
Hi, in the use case described only step 4 is done with `a11ym-dashboard`. Pulling, cleanup and pushing is outside of the scope of `a11ym-dashboard`. That was a example why a dump would be useful and it which context this could be used. I edited the step 4 to be more clear.

[2016-10-18 14:37] #73 closed

[2016-11-15 16:46] jmuheim opened #75 ""npm WARN ENOENT ENOENT: no such file or directory" when installing"
[code]

When I do `$ npm install --global the-a11y-machine`, it works.

But then when running, I don't find the output:

[code]

In the same folder there's no `a11ym_output` folder. Also, the output above doesn't really look like the task finishes correctly...?

[2016-11-16 09:44] jmuheim commented on #75
I also tried it on a windows machine, and it's exactly the same there.

[2016-11-16 09:53] Hywan commented on #75
Hello,

For the npm error, you should create a `package.json` file. Try `npm install --save the-a11y-machine`. When installing globally, a `package.json` file is created somewhere nearby your home directory, so you don't have this error.

If the tests stop running suddenly, you can incriminate PhantomJS quite easily most of the time :-/. What version of PhantomJS are you running?

[2016-11-16 09:57] jmuheim commented on #75
Both OSX and Win:

[code]

I use PhantomJS heavily for feature tests in Rails projects, and it works flawlessly there.

[2016-11-16 10:06] Hywan commented on #75
Same here. OK, I will try as soon as I have time!

[2016-12-08 08:17] dfeyer commented on #11
Hi, first thanks top opensource this really nice tools, i'm interested in a not really SaaS but at least an API version of the service. Is it possible to have the report in JSON format, like this we can integrate it with other tools ? I'm really interested to integrate the machine with Neos CMS, it can be a really nice helper during dev to have accessibility report directly in the Neos UI, without

[2016-12-08 11:35] Hywan commented on #11
Hello :-),

Yes probably. Instead of storing the results as plain HTML, we could also store the JSON source. Are you willing to make a PR :-)?

[2016-12-15 19:05] jasonday commented on #75
I'm seeing this issue still:

[code]

[2016-12-16 10:13] Hywan commented on #75
@jasonday https://github.com/liip/TheA11yMachine/issues/75#issuecomment-260902328 for the `package.json` issue. This is not related to this project.

[2016-12-16 10:19] #75 closed

[2016-12-19 13:36] fanderegg opened #78 "opentransportdata.swiss is not recursively crawled"
The website https://opentransportdata.swiss/ is not recursively crawled. Only the links of the language switcher are recognized and crawled, but after that is stops. Command used:

a11ym https://opentransportdata.swiss/ -o out

The website consists of two different softwares (CKAN and WordPress), and it looks like the crawler does not like the wordpress pages (e.g. https://opentransportdata.swiss/

[2016-12-21 08:53] Hywan commented on #78
Hello,

The DOM is broken. However, the crawler uses regular expression, so I don't understand why it does not work yet. Searching. You might want to fix the DOM though ;-).

[2016-12-21 10:30] Hywan commented on #78
Finally, I found what is the problem.
Sometimes, we encounter URL like `/en/log-in`, and sometimes `/en/log-in/`. When having crawling `/en/log-in`, the server responds with a 301 redirection to `/en/log-in/`, and the crawler does not like it.

I am working on a fix.

[2016-12-21 11:06] Hywan commented on #78
Much better isn't it :-)?

![screen shot 2016-12-21 at 12 06 23-fullpage](https://cloud.githubusercontent.com/assets/946104/21386997/eca349b0-c775-11e6-83b6-61abab82101c.png)

[2016-12-21 12:19] #78 closed

[2016-12-21 14:02] #71 closed

[2016-12-21 15:26] #67 closed

[2016-12-21 15:27] Hywan commented on #67
See the updated Installation Section: https://github.com/liip/TheA11yMachine#installation:

[code]

This should fix your issue.

[2016-12-21 15:47] Hywan commented on #63
@callmemagnus There is a certificate issue with https://todomvc.com. See the following command:

[code]

With the `--insecure` flag, we are able to `GET` the page:

[code]

So basically, you have to use `a11ym` with `--http-tls-disable`:

[code]

I have this report:

![screen shot 2016-12-21 at 16 47 21](https://cloud.githubusercontent.com/assets/946104/21395557/2ea3f0a4-c79d-11e6-9150-513d307ca84

[2016-12-21 15:50] Hywan commented on #63
@krtek4 No more direct dependencies are using Git. Onlt `HTML_CodeSniffer` is using https://github.com/….

About the unpexected stop, probablt that #78 is a similar issue, and it has been fixed. Could you confirm please? If the problem is still present, please, give me the URL you are trying to crawl. I am not sure this is an issue related to Windows.

[2016-12-21 16:00] krtek4 commented on #63
I don't have a Windows machine available anymore, and honestly I don't remember the website I had issues with.

Since there has been multiple changes since I opened the bug and no other reports about the same issue, I think it is fair to say the bug is fixed. For me, you can close it :)

Thanks !

[2016-12-21 16:04] Hywan commented on #63
Thank you! Feel free to reopen if needed.

xoxo

[2016-12-21 16:04] #63 closed

[2016-12-23 09:16] Hywan opened #82 "Line height of dashboard title is too small"
For instance:
![screen shot 2016-12-23 at 10 16 24](https://cloud.githubusercontent.com/assets/946104/21450613/e390a83e-c8f8-11e6-861c-8c9e4fd46386.png)

[2016-12-23 10:27] #70 closed

[2016-12-23 10:28] Hywan commented on #70
Finally, it's merged 😃.
Quoting https://github.com/liip/TheA11yMachine#watch-the-dashboard:

[2016-12-23 11:10] #82 closed

[2017-01-10 07:40] LeBenLeBen opened #87 "No report created without -o option"
I’m not sure if this is a bug or intended. I’ve run `a11ym http://localhost:3000/example-pages/home.html` which succeeded (I think) but didn’t produce any report.

I’ve had to precise an output folder with `-o` to get something. I’ve seen something about `a11ym_output` being the default folder (I guess in the current directory?) but none was created by default.

[2017-01-10 08:12] Hywan commented on #87
Indeed, we should create the default folder in the current working directory, instead of the installed directory.

[2017-01-10 08:26] #87 closed

[2017-01-10 08:32] Hywan commented on #87
Thanks for the report! Will be part of the next release (coming soon), thanks for your patience!

[2017-01-10 08:48] LeBenLeBen opened #89 "Make PhantomJS a dependency?"
I guess PhantomJS should be a dependency of TheA11yMachine. This would avoid an extra command to install and also ensure everything required is installed when you install it locally, at a project level.

[2017-01-16 13:04] Hywan opened #90 "Very slow when behind a proxy"
A page that loads in 3s takes 36s to load when behind a proxy… or if a proxy has been used one day… I don't know why I have this issue… but I am creating a ticket just because I have a relevant fix ;-).

[2017-01-16 13:12] #90 closed

[2017-01-16 13:12] #89 closed

[2017-01-16 13:15] Hywan commented on #57
Hello :-),

Now we have the `lib/bin.js` module, so I guess it will be easier to integrate it with Gulp. Thoughts?

[2017-01-16 13:16] Hywan commented on #57
Example:

[code]

[2017-01-16 15:11] #72 closed

[2017-03-07 14:24] syndy1989 commented on #63
Hi there, I'm actually using Windows server 2012. I tried downloading cygwin on Windows to run bash commands.
I've noticed that pa11y-crawl gives the following error when attempting to crawl a URL with a subdomain.

. is not an html document, skipping

Any advice on this would be helpful. Thanks in advance or is there any other tool to crawl the site on Windows machine

[2017-03-07 15:04] Hywan commented on #63
@syndy1989 Can you give me the command line you run please?

[2017-03-08 04:07] syndy1989 commented on #63
@Hywan  Please find the command line error below

$ pa11y-crawl nature.com
fatal: Not a git repository (or any of the parent directories): .git

 <<<  found 1 files in 1 directories

 |---------------------------------------
C:\Users\AppData\Roaming\npm/node_modules/pa11y-crawl/pa11y-crawl.sh: line 58: python: command not found
 ||    is not an html document, skipping
C:\Users\AppData\Roaming\npm/

[2017-03-08 09:20] Hywan commented on #63
@syndy1989 You are running `pa11y-crawl`, not `a11ym`.

[2017-03-20 09:46] stevefaulkner opened #98 "vnu instance does not run W3C HTML ruleset"
By default the vnu.jar is not built to run the W3C HTML ruleset,which i suggest it should as the W3C HTML rules include additional/different HTML conformance rules that effect accessibility of content.
Suggest that the vnu.jar shipped with a11ymachine be built with these rules enabled - there is a python script to do this: https://github.com/validator/validator/issues/444#issuecomment-274799727

[2017-03-20 09:52] stevefaulkner opened #99 "when running a11ym -s HTML on windows machine an error occurs"
error:
[code]

any help with this would be appreciated!

[2017-03-20 09:58] Hywan commented on #98
Hello 🙂,

Excellent suggestion indeed. Will try to do that soon. Thanks!

[2017-03-20 10:42] stevefaulkner commented on #99
fixed it:
added
`'-Xss512k',`
before` '-jar',` https://github.com/liip/TheA11yMachine/blob/master/lib/tester.js#L160

[2017-03-20 10:42] #99 closed

[2017-03-20 12:31] Hywan commented on #99
Do we need to patch it?

[2017-03-22 13:50] #98 closed

[2017-03-25 10:45] stevefaulkner commented on #98
@Hywan
Testing this locally it doesn't run the w3c version, also when running web UI it displays the whatwg links
also this line needs updating
 `--html5link=http://www.w3.org/html/wg/drafts/html/master/single-page.html \`
to
`--html5link=http://w3c.github.io/html/single-page.html \`
\cc @sideshowbarker

[2017-03-25 15:23] Hywan commented on #98
@stevefaulkner [`Makefile` is here](https://github.com/liip/TheA11yMachine/blob/master/resource/vnu/Makefile). Is it incorrect (except the `--html5link` option).

[2017-03-25 19:47] sideshowbarker commented on #98
The invocation in that makefile looks to me like it should produce a W3C-enabled vnu.jar as expected

[2017-03-25 23:05] sideshowbarker commented on #98
OK sorry for not catching this before but I remember now that to get the W3C stuff, vnu.jar must also be run with some Java system properties specified.

To run the jar for command-line checking:

[code]

…and to run it for Web-based checking:

[code]

[2017-04-26 13:23] jasonday opened #102 "Integration with browser automation tests (selenium)"
Feature request:

- Include Selenium webdriver integration to allow for scanning of automated test cases
- Roll up to dashboard to test case
- Example: Add to bag test
-- go to product A
-- select attributes
-- add to bag
-- view shopping cart
-The dashboard would show the accessibility test results for the entire "add to bag" test, allowing for exploration into the individual steps

This would al

[2017-05-08 13:27] drixselecta commented on #11
The API light option is partly covered, as there already is an option to store the report in JSON instead of HTML `-r json` or  `--report json`.

Liip is working on a SaaS client on top of A11ym, I am thus closing this issue for now as a duplicate. @dfeyer if you are still interested in including a11ym into Neos CMS, we could discuss ways to integrate.

[2017-05-08 13:27] #11 closed

[2017-06-12 10:00] ralf57 opened #103 "Pa11y reporters other than "html" fail to load"
Trying to have generate a report in a different format than "html", for example with
[code]
fails, with the following error
[code]
Setting the path at
https://github.com/liip/TheA11yMachine/blob/master/lib/tester.js#L59
to
[code]
fixes it.

[2017-06-12 11:24] Hywan commented on #103
Hey,

It depends whether you are using a11ym directly, or as a dependency of a project. You should not use a fix path. My recommendation would be to: Find the `node_modules` directly by recurring the parent directories, and then, relatively to this path, look for the reporter file.

[2017-06-12 12:31] ralf57 commented on #103
@Hywan thanks for your input.
Submitted https://github.com/liip/TheA11yMachine/pull/104

[2017-06-29 06:33] sparshi opened #105 "Maximum URLs to compute is different even with same configuration."
I randomly picked one website to understand how crawling works for a11ym. I observed every time the maximum URLs crawled was different.
$ a11ym https://www.drupal.org/

First Run: 128/128 URLs was computed.
Second Run : 123/128 URLs was computed
Third Run: 105/128 URLs was computed.

Note: Value for "maxURLs" and "maxDepth" was unaltered at every execution and by default taking value "128" and "3"

[2017-06-30 07:32] Hywan commented on #105
The algorithm which computes URL is unordered and asynchronous.

Let me explain how it works.

* A list of URL is given, and enqueued (in queue A),
* For each URL, it is opened, parsed, and URL present in the document are enqueued (in queue A),
* URL in queue A are dequeued one at a time… or almost. Actually you can specify a number of workers: It represents the number of maximum URL that can be d

[2017-07-04 08:39] sparshi commented on #105
Hi Ivan,

Thank you so much for detailed insights about crawling algo, it really helped to make an understanding.

**Do you have an idea about which URL it could be?**
I ran a11ym again on https://www.drupal.org/ around five times. In just one run, crawling stopped before 128 (Max URL limit) and in other four run the maximum URLs was reached ( that might be due to the culprit URLs hasn't been enco

[2017-07-04 11:47] Hywan commented on #105
I am sorry but I cannot reproduce. I have been able to successfully generate a report for 128 URLs 3 consecutive times. What is your OS? What is your version of PhantomJS? What is your version of NodeJS?

[2017-07-04 11:54] sparshi commented on #105
OS Version : MacOS Sierra 10.12.1
PhantomJS Version : 2.1.1
NodeJS Version: v6.10.3
NPM Version: 3.10.10

[2017-07-06 07:53] sparshi commented on #105
Hi Ivan,

I agree that there’s no regular pattern for crawling issue, which in fact makes it difficult to trace down the actual root cause.

I have attached a PDF file to show how the issue is occurring at my end.

I picked another small website “http://zomig.com/” to test.
This time I changed the maximum URL limit to 500 i.e. a11ym http://zomig.com/ -m 500, just to be sure the tool is parsing all

[2017-07-10 07:20] Hywan commented on #105
Please try with NodeJS 7.x. This is likely to be NodeJS crashing because it is NodeJS.

[2017-07-18 20:13] julmot opened #106 "Make the docs Windows compatible"
For example `$ ./a11ym` doesn't work on Windows, instead just `$ a11ym`.

[2017-07-18 20:15] julmot opened #107 "Document how to fetch websites with basic auth"
Our development servers are protected with basic auth. I'd like to test them but the tool only answers `failed to fetch (status code: 401)`.

[2017-07-20 10:29] sparshi commented on #105
Thankyou Ivan but upgrading NodeJs to 7.x didn't solve the issue.

[2017-08-08 20:56] jasonday opened #108 "a11ym-dashboard is not recognized"
Installed a11ym through npm and I am able to execute tests/generate reports. When I attempt to use `a11ym-dashboard ...` the command is not recognized.

[2017-08-09 02:21] jasonday commented on #108
I'm dumb; there was an issue with updating that I missed.

[2017-08-09 02:21] #108 closed

[2017-08-10 15:35] jasonday opened #109 "a11ym fails on url special characters (&)"
This issue requires encoding urls, which then outputs the report with encoded urls making the report less readable and less consumable for audiences.

I think it wuold be preferable to have T-A-M encode the urls and then decode them for the reports.

[2017-08-11 06:56] Hywan commented on #109
Hello :-),

Can you provide an example please?

cc @jeanmonod

[2017-08-11 14:47] jasonday commented on #109
This url fails in Windows PowerShell at the first `&`:

[code]

[2017-08-12 12:16] Hywan commented on #109
What if you add single quote around the URL?

[2017-08-23 10:30] sparshi commented on #107
You need to provide auth username and password from command line

e.g. $ a11ym https://www.test.com --http-auth-user <http_auth_user> --http-auth-password <http_auth_password>

[2017-08-23 11:29] Hywan commented on #107
I haven't seen your question, sorry.

@sparshi is right :+1:

[2017-08-23 11:35] julmot commented on #107
There's no question, it's more a solicitation

[2017-08-23 11:36] julmot commented on #107
I mean something like a dedicated `basic auth` section. However, as you've at least documented `--http-auth-user <http_auth_user>          Username to authenticate all HTTP requests.` it's fine for me currently.

[2017-08-23 11:36] #107 closed

[2017-09-25 08:09] rakeshkmr516 opened #110 "Unable to install A11y Machine due to phantomjs error"
Hi ,
I am unable to install sudo npm install -g the-a11y-machine due tophantom js error
since phantomjs days came to an end, can we remove this package from the bundle

Considering PhantomJS found at /usr/local/bin/phantomjs
Looks like an `npm install -g`
Found PhantomJS at /usr/local/lib/node_modules/phantomjs/lib/phantom/bin/phantomjs ...verifying
Writing location.js file
Error checking path, co

[2017-09-25 08:47] Hywan commented on #110
I am not able to reproduce your issue.

I don't understand what your are suggesting. `a11ym` uses PhantomJS to test the web pages. We would like to use [SlimerJS](https://slimerjs.org/) one day, and probably [libservo](https://groups.google.com/forum/#!msg/mozilla.dev.servo/20lkEsRI-ZI/RbEaVG_MAAAJ) one other day too, but it's the case today. If you have time to help on this area, we would be glad

[2017-09-25 10:44] rakeshkmr516 commented on #110
Finally able to install with yarn  Thank you @Hywan  for your support
I am able to run on an example website which gave me good report with issues ( Accessibility errors) under a11ym_output index file. Kudos to your team

However when i tried on my real website which requires authentication able to fetch urls until redirection failed to run accessibility test on URLS

[2017-09-25 12:26] Hywan commented on #110
`--http-auth-*` options are dedicated to solve this issue. What is SAML login page?

[2017-09-25 12:50] rakeshkmr516 commented on #110
we are using saml based authentication after crawling to that particular url fetch stopped and run havent executed

[2017-09-26 10:18] rakeshkmr516 commented on #110
@Hywan
I am able to successfully point it at sites that do not require login. However, our application does require login and the “–http-auth-user” and “–http-auth-password” parameters appear to do nothing. Here is my sample usage. I would guess I am doing something wrong.

a11ym –http-auth-user username –http-auth-password password -http-tls-disable https://website.com

Are these headers confirme

[2017-09-26 14:44] Hywan commented on #110
HTTP auth works yes, but it's basic auth, not SAML.

SAML support is not implemented yet.

[2017-09-26 16:32] rakeshkmr516 commented on #110
@Hywan  Great to hear Could you please take it as an enhancement since there are so many form based authentication apps

[2017-09-27 08:00] Hywan commented on #110
My recommendation is to have a “test-xxx” profile for your application that by-pass some auth for instance. I am no longer working actively on this project since I don't work for Liip anymore. I am just a regular contributor.

cc @jeanmonod @ralf57

[2017-10-09 11:43] goldi42 opened #111 "Get JS error with custom standard"
I have tried to create a custom standard, to take only the tests which I need in my project.
As template I use the example inside the `resources/sniffers` folder.
 As far I can see, the creation is successful via `a11y-sniffer`. But when I use this sniffer I get the error
`Test function errored for "http://example.dev/"`
I start debugging and find out that I get this JS error when the test is star

[2017-10-11 14:49] elenass83 opened #112 "Use Login/password authentication"
Hi all,

I just started using A11ym and I'm quite impressed with the tool, it has a lot of potential.

I got great results for the initial (login) page with the basic usage but could not get it to work in the other pages that come after login.

I tried with the option
a11ym --http-auth-user _<http_auth_user>_ --http-auth-password _<http_auth_password>_ _url_

Any idea if I'm missing something or m

[2017-11-08 14:21] jasonday opened #113 "Consideration of utilizing other rulesets (axe)?"
DeQue continues to develop the axe ruleset at a faster rate of development than HTML Codesniffer. Having a configurable ruleset (-f  --framework <axe|codesniffer>) would be a beneficial feature.

[2017-11-13 18:39] jasonday opened #114 "[feature request] Ability to set viewport size"
Because content or UI is often hidden/exposed at different viewports with responsive design, allowing for testing at different viewport sizes is important for comprehensive testing.

See [axe-crawler](https://github.com/tjscollins/axe-crawler) for example.

[2017-11-14 09:58] Hywan commented on #114
@jeanmonod @ralf57 It is possible to do that with PhantomJS. You should check pa11y options, it exposes specific options that are passed to PhantomJS to do that.

[2017-11-14 10:02] ralf57 commented on #114
thanks @Hywan
@jasonday will look into that ASAP

[2017-11-14 14:50] jasonday commented on #114
Awesome. Additionally, I mentioned axe-crawler because in addition to having a preset config for viewports  (see below), but also tests against different browsers.

I think in addition to figuring out the mechanics of the testing, the UI & reporting will need to be figured out as well. I'll try and take some time to wireframe out some potential solutions.

[code]

[2017-12-08 13:55] iamjolly commented on #112
Hi @elenass83

I just discovered this tool recently and see your question wasn't answered.

If you're using HTTP Authentication, that's considered "Basic Auth" which is a prompt from the webserver for a username and password. This method differs from logins built into a web application page which require a form submission and authentication against a database.

That *might be* why you're having tr

[2017-12-13 20:05] jd555 opened #116 "Downloadable github project missing --ignore-robots-txt"
Running the currently available a11ym from Github with --ignore-robots-txt generates "error: unknown option `--ignore-robots-txt'". Package.json version is 0.9.3

[2018-01-02 17:48] esteinborn commented on #67
This only builds the image locally, it does not pull it from the docker hub, which was the original issue here.

The PR that was merged _should_ have set up auto-deployments to docker hub on each successful commit/tag.

In order to successfully set this up, you'll need to follow the documentation on the docker hub, after creating an account there:
https://hub.docker.com/

then follow the instructi

[2018-01-02 17:50] esteinborn opened #118 "Create automated Docker Build"
In #67 only part of the issue was resolved. in my comment there (included here for quick reference), you'll see there are still a few steps needed in order to set up an automated build for this project.

This only builds the image locally, it does not pull it from the docker hub, which was the original issue here.

The PR that was merged should have set up auto-deployments to docker hub on each su

[2018-01-10 13:35] Hywan commented on #116
As far as I know, it is not part of the latest release. You should ask @jeanmonod for a new release.

[2018-01-10 13:36] Hywan commented on #67
ping @jeanmonod

[2018-01-11 20:10] jd555 commented on #116
Thanks for this.

jd

[2018-02-08 19:21] portalstyle854 commented on #112
I wonder if we can make use of the actions functionality from pa11y dependacy. You can try editing the index.js file located in node_modules/pa11y/example/actions file path. Here is documentation on how to use Actions:  https://github.com/pa11y/pa11y#actions

[2018-03-16 14:22] cromination opened #119 "Crawl fails with invalid SSL certificate on different domain name"
In pointing this to a server that has a different virtual host name and is forcing https the crawl fails.  Is there a way to have it ignore ssl errors?

An example is I'm using a 3 tired managed hosting platform, with a dev/test/prod setup.  On the prod tier I have a valid FQDN of https://www.site.com with .htaccess forcing https and a valid SSL certificate on a load balancer in front of that envi

[2018-07-31 15:35] brianteeman commented on #112
Wondering if anyone was able to get the actions functionality from pa11y or similar working with theA11yMachine

[2018-08-23 14:54] VijayGomathi opened #120 "is this project covers all of WCAG 2.0 AAA guidelines?"
I can see that the last commit was done on Nov 2017. Is this repo is still maintained or dropped?
Also, whether this project covers all WCAG 2.0 AAA guidelines?

[2018-10-12 19:51] weilinzung opened #124 "Command line differences?"
Hi,

Wondering what are the differences between these two command lines, do they have different results?

Thanks!

`$ ./a11ym http://example.org/`

`$ ./a11ym --standards WCAG2AA http://example.org/`

[2018-10-12 19:55] #124 closed

[2018-10-12 19:56] weilinzung commented on #124
They are the same! Test again!

[2018-11-15 00:50] luzhang opened #125 "Avoid from pointing to the master of HTML_CodeSniffer"
Hey,

[HTML_CodeSniffer](https://github.com/squizlabs/HTML_CodeSniffer) pushed some changes recently which broke the npm install. Part of the reason is theA11yMachine points to the master branch of html_code sniffer. To solve this issue and avoid future risks, it is probably good idea to point to v2.2.0 instead of master. I will draft a PR shortly.

Thanks,
Lu

[2018-11-15 01:06] luzhang commented on #125
Just created a [PR](https://github.com/liip/TheA11yMachine/pull/126) for it. Let me know if it works.

[2018-11-19 08:02] luzhang commented on #125
Looks like my PR just got merged, I will close this ticket, thanks!

[2018-11-19 08:02] #125 closed

[2018-11-20 20:15] RobbyCowell opened #127 "Republish NPM package to reflect latest changes to package.json"
Could someone republish the NPM package to reflect this change? https://github.com/liip/TheA11yMachine/commit/fb6acb811018ba94af9e76e81c6498e606bd25a1

It breaks `npm install` for me and likely anyone else who has this package in their dependencies.

[2019-01-02 17:56] cromination opened #128 "With PhantomJS development suspended add support for Chromium"
Since PhantomJS has had its development suspended is it possible to allow for other headless browsers such as Chromium?

[2019-01-02 19:20] drixselecta commented on #128
Hi @cromination,

That's a great idea! We are out of developing power/love at the moment, but this could be a good issue  to tackle first once we manage to get the ball rolling again. If you want to give it a try yourself, feel free to open a PR and we will try to get it merged.

Thank you for the suggestion,

Cédric

[2019-01-17 18:45] ldavidson commented on #127
Yes having same issue can npm install all the way up to 0.8.1 but after that get:

[code]

[2019-01-17 18:57] RobbyCowell commented on #127
@ldavidson as a workaround, I went into the package.json for the TheA11yMachine package, and manually entered the change shown in the commit I linked above:

    - "HTML_CodeSniffer": "https://github.com/squizlabs/HTML_CodeSniffer#master",
    + "html_codesniffer": "^2.2.0",

Far from a perfect solution, but it should let you run npm install, at least it did for me.

Hope that helps!

[2019-02-26 19:51] brendano86 commented on #127
Ran into the same issue today trying to run `npm install -g the-a11y-machine`

[2019-02-27 08:37] Hywan commented on #127
cc @jeanmonod

[2019-03-07 23:09] jrtnq514 commented on #105
I'm going to take a guess here. I've found that the check below causes the tool to quit if the queue isn't populated fast enough or at a consistent rate. So anytime the queue drops to 0, no matter if it reached the maximum urls, it will quit.

https://github.com/liip/TheA11yMachine/blob/fb6acb811018ba94af9e76e81c6498e606bd25a1/lib/a11ym.js#L220-L222

You can comment out that check, however if the

[2019-03-26 14:46] paazmaya opened #129 "Remove crypto package and use native Node.js API instead"
Currently there seems to be `crypto` package version `0.0.3` in use, which also generates the following output when doing `npm install`:

[code]

https://nodejs.org/docs/v0.12.9/api/crypto.html

[2019-03-27 08:08] Hywan commented on #129
Closed by #130.

[2019-03-27 08:08] #129 closed

[2019-03-31 15:30] iris00 opened #131 "Config file example"
Please, i need a config file example (name, format, options...)
Thank you.

[2019-05-07 19:24] lucperkins opened #134 "New release"
Could someone please push a new release of this project? Version 0.9.3 is simply broken and will not install.

[2019-05-08 16:52] chademkarp commented on #134
I agree with @lucperkins, I would love to try this out, but it appears to be in a broken state at the moment. Please and thank you. Maybe more people could be given access to help update the system, merge pull requests, etc. ?

[2019-06-17 16:57] julianpinedayyz commented on #134
Same page here. I would love to see an update. Thanks!

[2019-09-05 13:29] paulmist opened #135 "Can't find local grunt"
I'm struggling to install - seems to be an error finding local install of Grunt.

[code]

I've tried installing Grunt separately with no luck fixing the above

[2019-10-04 06:47] Mathlit commented on #135
Dealing with the same problem here. And after installing `grunt` and `grunt-cli` manually, you're still greeted with a message about not being able to find a gruntfile.

[2019-10-23 20:33] AkshitSahani commented on #135
Same issue

[2019-10-30 15:50] giuliastro opened #137 "0 errors in the reports, no matter what"
Hello,
I installed A11ym through npm and run it smoothly on different websites. A few of these websites had quite important accessibility WCAG problems. No matter what website I analyze with A11ym the generated reports always state "0 errors". Where is the problem?

Thank you in advance.

[2019-11-18 17:48] lucperkins opened #138 "Mark this repo as archived"
There has been no activity on this repo in almost eight months even though the open issues and pull requests suggest that users are still interested. I would strongly suggest marking this repo as archived so that people don't continue to believe that this is an active, live project.

[2019-11-25 18:14] JoshMoreno commented on #135
I too tried installing `grunt-cli` globally then this package, but that didn't work.

Just tried installing this globally with yarn and it worked! `yarn global add the-a11y-machine`

[2019-11-27 11:30] pcolmer commented on #138
Has anyone forked this and developed it further?

If not, can someone recommend an alternative to this project that is being maintained?